In [1]:
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import pandas as pd
import numpy as np
import re
import string

In [2]:
pd.set_option("display.max_rows",None)

In [3]:
chrome_path = './chromedriver/chromedriver'
driver = webdriver.Chrome(chrome_path)

In [4]:
#Countries
Singapore = 'https://myjobstreet.jobstreet.com.sg/home/login.php?site=SG'
Malaysia = 'https://myjobstreet.jobstreet.com.my/home/login.php'
Philippines = 'https://www.jobstreet.com.ph/'
Indonesia = 'https://www.jobstreet.co.id/'

In [5]:
#Code for scraping jobstreet and making dataframe
def scrape_jobstreet(job_titles, pages, country):
    jobs_df = []
    companies_df = []
    locations_df = []
    salaries_df = []
    industries_df = []
    experiences_df = []
    company_sizes_df = []
    descriptions_df = []
    linkss_df = []
    
    def jjobs(info):
        jobs = []
        companies = []
        locations = []
        linkss = []
        for inf in info:
            job = inf.findAll('h2', {'itemprop':'title'})
            for j in job:
                jobs.append(j.text)
            company = inf.findAll('span', {'itemprop':'name'})
            for com in company:
                companies.append(com.text)
            location = inf.findAll('span', {'itemprop':'jobLocation'})
            for loc in location:
                locations.append(loc.text)
            links = inf.findAll('a', {'class', 'position-title-link'})
            for link in links:
                linkss.append(link.get('href'))
        return jobs, companies, locations, linkss
    
    def get_info(linkss):
        salaries = []
        industries = []
        experiences = []
        company_sizes =[]
        descriptions = []
        for link in linkss:
            driver.get(link)
            source = driver.page_source
            soup = BeautifulSoup(source, "html.parser")
            try:
                sal = soup.findAll('span', {'id':'salary_range'})[0].text.strip()
                salaries.append(sal)
            except:
                salaries.append(np.nan)
            try:
                ind = soup.findAll('p', {'id':'company_industry'})[0].text
                industries.append(ind)
            except:
                industries.append(np.nan)
            try:
                exp = soup.findAll('span', {'itemprop':'experienceRequirements'})[0].text.strip()
                experiences.append(exp)
            except:
                experiences.append(np.nan)
            try:
                com = soup.findAll('p', {'id':'company_size'})[0].text.strip()
                company_sizes.append(com)
            except:
                company_sizes.append(com)
            try:
                des = soup.findAll('div', attrs = {'id':'job_description'})[0].text
                descriptions.append(des)
            except:
                descriptions.append(np.nan)
            time.sleep(4)
        return salaries, industries, experiences, company_sizes, descriptions 
    
    #user logins to profile first
    #driver.get(country)
    for j in job_titles:
        for p in range(1, pages+1):
            if country == Singapore:
                url = 'https://www.jobstreet.com.sg/en/job-search/job-vacancy.php?key=' + j.replace(' ', '+') + '&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=' + str(p) + '&src=16&ojs=2'
                driver.get(url)
                source = driver.page_source
                soup = BeautifulSoup(source, "html.parser")
                info = soup.findAll('div', {'class':'panel-body'})
            elif country == Malaysia:
                url = 'https://www.jobstreet.com.my/en/job-search/job-vacancy.php?key=' + j.replace(' ', '+') + '&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=' + str(p) + '&src=16&ojs=2'
                driver.get(url)
                source = driver.page_source
                soup = BeautifulSoup(source, "html.parser")
                info = soup.findAll('div', {'class':'panel-body'})
            elif country == Philippines:
                url = 'https://www.jobstreet.com.ph/en/job-search/job-vacancy.php?key=' + j.replace(' ', '+') + '&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=' + str(p) + '&src=16&ojs=2'
                driver.get(url)
                source = driver.page_source
                soup = BeautifulSoup(source, "html.parser")
                info = soup.findAll('div', {'class':'panel-body'})
            elif country == Indonesia:
                url = 'https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=' + j.replace(' ', '+') + '&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=' + str(p) + '&src=16&ojs=2'
                driver.get(url)
                source = driver.page_source
                soup = BeautifulSoup(source, "html.parser")
                info = soup.findAll('div', {'class':'panel-body'})
           
            jobs_df.extend(jjobs(info)[0])
            companies_df.extend(jjobs(info)[1])
            locations_df.extend(jjobs(info)[2])
            linkss_df.extend(jjobs(info)[3])
            salaries_df.extend(get_info(linkss_df)[0])
            salaries_df.extend(get_info(linkss_df)[1])
            salaries_df.extend(get_info(linkss_df)[2])
            salaries_df.extend(get_info(linkss_df)[3])
            salaries_df.extend(get_info(linkss_df)[4])
            
            time.sleep(4)
            
            
        df = pd.DataFrame()
        df['job_title'] = jobs_df
        df['company'] = companies_df
        df['location'] = locations_df
        df['salary'] = salaries_df
        df['industry'] = industries_df
        df['experience'] = experiences_df
        df['company_size'] = company_sizes_df
        df['job_description'] = descriptions_df
    return df

In [6]:
#Run driver first
#driver.get(Singapore)

### Data Cleaning and Feature Encoding

In [8]:
sg = pd.read_csv('./sg_jobst')
mal = pd.read_csv('./mal_jobst')
phil = pd.read_csv('./phil_jobst')
ind = pd.read_csv('./ind_jobst')

In [9]:
#Change location before concatenating all the dataframes together
sg['location'] = sg['location'].apply(lambda x: 'Singapore')
mal['location'] = mal['location'].apply(lambda x: 'Malaysia')
phil['location'] = phil['location'].apply(lambda x: 'Philippines')
ind['location'] = ind['location'].apply(lambda x: 'Indonesia')

In [10]:
#concat all these dataframes together
jobst = pd.concat([sg,mal,phil,ind])

In [11]:
jobst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601 entries, 0 to 232
Data columns (total 9 columns):
Index              1601 non-null int64
job_title          1601 non-null object
company            1601 non-null object
location           1601 non-null object
salary             930 non-null object
industry           1572 non-null object
experience         1590 non-null object
company_size       1601 non-null object
job_description    1596 non-null object
dtypes: int64(1), object(8)
memory usage: 125.1+ KB

In [12]:
jobst.drop('Index', inplace=True)

In [13]:
jobst['Index'] = np.arange(jobst.shape[0])

In [14]:
jobst.set_index('Index', inplace=True)

In [15]:
jobst1 = jobst.dropna()

In [202]:
#jobst1.info()

In [17]:
# drop duplicates
jobst1.drop_duplicates(inplace=True)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [203]:
#jobst1.info()

In [19]:
# Need clean and encode each column

In [20]:
jobst1['job_title'] = jobst1['job_title'].apply(lambda x: 'Business Analyst' if 'business' in x.lower() else 'Data Analyst' if 'data' in x.lower() else 'Data Scientist' if 'scientist' in x.lower() else 'Data Engineer' if 'engineer' in x.lower() else np.nan)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
jobst1['job_title'].value_counts(dropna=False)

Business Analyst    374
Data Analyst        274
NaN                 133
Data Engineer        20
Data Scientist       17
Name: job_title, dtype: int64

In [22]:
jobst1.dropna(inplace=True)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
jobst1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 1586
Data columns (total 8 columns):
job_title          685 non-null object
company            685 non-null object
location           685 non-null object
salary             685 non-null object
industry           685 non-null object
experience         685 non-null object
company_size       685 non-null object
job_description    685 non-null object
dtypes: object(8)
memory usage: 48.2+ KB

In [205]:
jobst1.head(2)

,job_title,company,location,salary,industry,experience,company_size,job_description
Index,,,,,,,,
0,Data Analyst,Achieve Career Consultant Pte Ltd,Singapore,1,Human Resources Management/Consulting,Junior_Executive,1,"S$3,500 to S$5,000 or Higher!Good Career Prog..."
1,Data Analyst,CHANDLER MACLEOD GROUP PTE LTD,Singapore,0,Human Resources Management/Consulting,Junior_Executive,0,"Immediate - Jun 2018CBD, $2600 MonthlyPaid An..."

In [25]:
# Cleaning the salary column and doing currency conversion
jobst1['salary'] = jobst1['salary'].apply(lambda x: '>3000' if x=='Above expected salary' else '<=3000' if x=='Around expected salary' else '<=3000' if x=='Below expected salary' else x)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
# Exchange rate
# 1 SGD == 3.11 MYR
# 1 SGD == 3191.76 IDR
# 1 SGD == 38.08 PHP
# 1 SGD == 0.74 USD

In [28]:
# function to convert the currency of the different countries and get the mean of the currencies
def convert_currency(data):
    if data=='>3000' or data=='<=3000':
        return data
    if 'USD' in data:
        data = data.replace(',', '')
        data = data.replace('-','')
        data = data.replace('USD','')
        data = data.split()
        mean = (float(data[0]) + float(data[1]))/2
        con = mean/0.74
        return con
    if 'SGD' in data:
        data = data.replace(',', '')
        data = data.replace('-','')
        data = data.replace('SGD','')
        data = data.split()
        mean = (float(data[0]) + float(data[1]))/2
        return mean
    elif 'MYR' in data:
        data = data.replace(',', '')
        data = data.replace('-','')
        data = data.replace('MYR','')
        data = data.split()
        mean = (float(data[0]) + float(data[1]))/2
        con = mean/3.11
        return con
    elif 'IDR' in data:
        data = data.replace(',', '')
        data = data.replace('-','')
        data = data.replace('IDR','')
        data = data.split()
        mean = (float(data[0]) + float(data[1]))/2
        con = mean/3191.76
        return con
    elif 'PHP' in data:
        data = data.replace(',', '')
        data = data.replace('-','')
        data = data.replace('PHP','')
        data = data.split()
        mean = (float(data[0]) + float(data[1]))/2
        con = mean/38.08
        return con
    else:
        return np.nan

In [29]:
jobst1['salary'] = jobst1['salary'].apply(convert_currency)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
# Convert the salary column to types--> greater than 3000 and less than 3000 to 1 and 0 respectively

In [31]:
def encode_salary(data):
    if data == '>3000':
        return 1
    elif data == '<=3000':
        return 0
    if type(data) == float:
        if data <= 3000:
            return 0
        elif data > 3000:
            return 1

In [32]:
jobst1['salary'] = jobst1['salary'].apply(encode_salary)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
# Will do pd.get_dummies() for industries and drop non-significant ones using filtering

In [206]:
# Encoding the experience column

--> Unique Titles
'Junior Executive', 'Manager', 'Senior Executive', 'Senior Manager', 'Non-Executive', 'Entry Level', 'Experienced Employee', 'Supervisor', 'Less than 1 year experience', 'Staff', 'Supervisor'

In [36]:
def code_experience(data):
    if 'Junior Executive' in data:
        return 'Junior_Executive'
    elif 'Manager' in data:
        return 'Manager'
    elif 'Senior Executive' in data:
        return 'Senior_Executive'
    elif 'Senior Manager' in data:
        return 'Senior_Manager'
    elif 'Non-Executive' in data:
        return 'Non_Executive'
    elif 'Entry Level' in data:
        return 'Entry_Level'
    elif 'Experienced Employee' in data:
        return 'Experienced_Employee'
    elif 'Supervisor' in data:
        return 'Supervisor'
    elif 'Less than 1 year experience' in data:
        return 'Less_than_1_year'
    elif 'Staff' in data:
        return 'Staff'
    elif 'Supervisor' in data:
        return 'Supervisor'

In [37]:
jobst1['experience'] = jobst1['experience'].apply(code_experience)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
jobst1['company_size'].unique()

array(['51 - 200 Employees', '1 - 50 Employees', '201 - 500 Employees',
       'More than 5000 Employees', '501 - 1000 Employees',
       '1001 - 2000 Employees', '2001 - 5000 Employees'], dtype=object)

In [39]:
# Rank Hot encode the company size
def encode_company_size(data):
    if data == '1 - 50 Employees':
        return 0
    elif data == '51 - 200 Employees': 
        return 1
    elif data == '201 - 500 Employees':
        return 2
    elif data == '501 - 1000 Employees':
        return 3
    elif data == '1001 - 2000 Employees':
        return 4
    elif data == '2001 - 5000 Employees':
        return 5
    elif data == 'More than 5000 Employees':
        return 6

In [40]:
jobst1['company_size'] = jobst1['company_size'].apply(encode_company_size)

/Users/dakshi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
jobst1['company_size'].unique()

array([1, 0, 2, 6, 3, 4, 5])

In [44]:
# Since there are 410 companies, converting column to dummies will not give much information
# So drop the column
jobst2 = jobst1.loc[:, [i for i in jobst1.columns if i != 'company']]

In [46]:
# Clean the 'job_description' column--> remove newline characters, html tags and punctuation marks
# not completely successful
def clean_job(data):
    data = data.lower()
    punc = lambda x:x not in string.punctuation
    data = filter(punc, data)
    data = data.replace('\n','')
    data = data.replace('\\', '+')
    data = re.sub(r'(\+x[\w\d][\w\d])', '', data)
    return data

In [47]:
jobst2['job_description'] = jobst2['job_description'].apply(clean_job)

In [48]:
# Get the count of words in 'job_description' column and make new features corresponding to data keywords

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cvec = CountVectorizer(encoding='utf-8', stop_words='english')
cvec.fit(jobst2['job_description'])
job_words = pd.DataFrame(cvec.transform(jobst2['job_description']).todense(), columns=cvec.get_feature_names())

In [50]:
# Data related keywords
keywords = ['sql', 'sas', 'python', 'r', 'machine', 'mining', 'data', 'analysis', 'predict', 'ai', 'programming', 
            'tableau', 'algorithm', 'modeling', 'processing', 'visualisation', 'analytics', 'processing', 'debug',
           'database', 'statistics', 'statistical', 'predictive', 'coding', 'sap', 'business', 'aws', 'hadoop',
           'spark', 'wrangling', 'munging', 'hdfs', 'etl', 'api', 'spss', 'hive', 'pig', 'streaming', 'mapreduce',
           'weka', 'matlab', 'mysql', 'ms', 'server', 'oracle', 'db2', 'nosql', 'hbase', 'hana', 'mongodb', 'couchdb',
           'vertica', 'greenplum','pentaho', 'teradata', 'postresql']

In [51]:
count = 0
keys = []
for i in keywords:
    count += 1
    if i in job_words.columns:
        jobst2[i] = job_words[i]
        keys.append(i)
print count

56

In [207]:
#keys

In [208]:
jobst2.head(2)

,job_title,location,salary,industry,experience,company_size,skills
Index,,,,,,,
0,Data Analyst,Singapore,1,Human Resources Management/Consulting,Junior_Executive,1,17.0
1,Data Analyst,Singapore,0,Human Resources Management/Consulting,Junior_Executive,0,6.0

In [54]:
# Condense all of these keywords into one representative column
summ = jobst2.loc[:,keys].sum(axis=1)

In [57]:
# Drop the rerepresented columns
jobst2.drop(keys, axis=1, inplace=True)
jobst2.drop('job_description', axis=1, inplace=True)

In [59]:
jobst2['skills'] = summ

In [209]:
jobst2.head()

,job_title,location,salary,industry,experience,company_size,skills
Index,,,,,,,
0,Data Analyst,Singapore,1,Human Resources Management/Consulting,Junior_Executive,1,17.0
1,Data Analyst,Singapore,0,Human Resources Management/Consulting,Junior_Executive,0,6.0
3,Data Analyst,Singapore,0,Human Resources Management/Consulting,Junior_Executive,2,2.0
4,Data Analyst,Singapore,0,Human Resources Management/Consulting,Junior_Executive,1,13.0
5,Data Analyst,Singapore,1,Consulting (Business & Management),Junior_Executive,0,26.0

In [61]:
# Cleaned dataframe to use for downstream processes in Qn1 and Qn2
jobst3 = jobst2.copy()

# Qn1

In [62]:
# Factors that impact salary

In [64]:
# Filtering variables

In [65]:
target = 'salary'
predictors = [i for i in jobst3.columns if i != target]

In [66]:
predictors

['job_title', 'location', 'industry', 'experience', 'company_size', 'skills']

In [67]:
#numerical predictors
num_predictors = ['skills']
cat_predictors = [i for i in predictors if i != 'skills']

In [68]:
#Filtering numerical variables
from sklearn.feature_selection import f_classif, chi2

num_sig = []
f,p = f_classif(jobst3[['skills']], jobst3[target])
if p <= 0.05:
    num_sig.append(i)
print num_sig

['skills']

In [69]:
# The numerical feature 'skills' is significantly related to the target variable salary

In [70]:
cat_predictors

['job_title', 'location', 'industry', 'experience', 'company_size']

In [71]:
# Get dataframe of categorical variables
jobst3_cat = jobst3.loc[:,cat_predictors]

In [72]:
jobst3_cat.head(2)

,job_title,location,industry,experience,company_size
Index,,,,,
0,Data Analyst,Singapore,Human Resources Management/Consulting,Junior_Executive,1
1,Data Analyst,Singapore,Human Resources Management/Consulting,Junior_Executive,0

In [74]:
# Filtering the categorical variables
jobst3_cat = pd.get_dummies(jobst3_cat, drop_first=True)

In [75]:
#Convert the columns to type 'int64'
for i in jobst3_cat.columns:
    jobst3_cat[i] = jobst3_cat[i].astype('int64')

In [80]:
cat_sig = []
for i in jobst3_cat.columns:
    y = np.array(jobst3[target])
    ch, p = chi2(jobst3_cat[[i]],y)
    if p<=0.05:
        cat_sig.append(i)
print cat_sig

['company_size', 'job_title_Data Analyst', 'job_title_Data Scientist', 'location_Malaysia', 'location_Philippines', 'location_Singapore', 'industry_Call Center/IT-Enabled Services/BPO', 'industry_Computer/Information Technology (Software)', 'industry_Construction/Building/Engineering', 'industry_Human Resources Management/Consulting', 'industry_R&D', 'industry_Retail/Merchandise', 'industry_Telecommunication', 'experience_Experienced_Employee', 'experience_Junior_Executive', 'experience_Less_than_1_year', 'experience_Manager', 'experience_Non_Executive', 'experience_Senior_Executive', 'experience_Staff', 'experience_Supervisor']

In [86]:
#Building the filtered dataframe containing the significant variables

In [99]:
cat_sig_df = jobst3_cat.loc[:, cat_sig]
num_sig_df = jobst3.loc[:, num_sig]
jobst_sig = cat_sig_df.merge(num_sig_df, left_index=True, right_index=True, how='outer')
jobst_sig['salary'] = jobst3['salary']

In [100]:
jobst_sig.head(2)

,company_size,job_title_Data Analyst,job_title_Data Scientist,location_Malaysia,location_Philippines,location_Singapore,industry_Call Center/IT-Enabled Services/BPO,industry_Computer/Information Technology (Software),industry_Construction/Building/Engineering,industry_Human Resources Management/Consulting,...,experience_Experienced_Employee,experience_Junior_Executive,experience_Less_than_1_year,experience_Manager,experience_Non_Executive,experience_Senior_Executive,experience_Staff,experience_Supervisor,skills,salary
Index,,,,,,,,,,,,,,,,,,,,,
0,1,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,17.0,1
1,0,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,6.0,0

### Train-test split plus SMOTEENN

In [102]:
# Looking at the distribution of target variable
dist = jobst_sig['salary'].value_counts()
dist

0    467
1    218
Name: salary, dtype: int64

In [104]:
# Baseline accuracy
ratio_0 = float(dist[0])/(dist[0] + dist[1])
ratio_1 = float(dist[1])/(dist[0] + dist[1])
print 'class 0 ratio', ratio_0
print 'class 1 ratio', ratio_1
print 'Baseline accuracy', ratio_0

class 0 ratio 0.681751824818
class 1 ratio 0.318248175182
Baseline accuracy 0.681751824818

In [107]:
# Since unequal class distribution, need oversample minority class
# Do oversampling after train-test-split
from sklearn.model_selection import train_test_split

X = jobst_sig.loc[:, [i for i in jobst_sig.columns if i != 'salary']]
y = jobst_sig.loc[:,'salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, stratify=y, random_state=12)

In [128]:
#count of each class in y_train
num_zeros = (y_train == 0).sum()
num_ones = (y_train == 1).sum()
print num_zeros
print num_ones

327
152

In [129]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(ratio={0:327,1:327}, random_state=12, n_jobs=-1)
X_sm, y_sm = sm.fit_sample(X_train, y_train)

In [130]:
#count of each class
num_zeros = (y_sm == 0).sum()
num_ones = (y_sm == 1).sum()
print num_zeros
print num_ones

327
327

### Modeling

In [131]:
# Fit first model with LogisticRegressionCV, second model with RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier

log = LogisticRegressionCV(penalty='l1', solver='liblinear', cv=3, n_jobs=-1)
log.fit(X_sm, y_sm)
y_pred = log.predict(X_test)
print 'score:', log.score(X_sm, y_sm)
print 'score:', log.score(X_test, y_test)

score: 0.915902140673
score: 0.898058252427

In [154]:
log_coefs = pd.DataFrame({'variable':X_train.columns, 'coef':log.coef_[0],'abs_coef':np.abs(log.coef_[0])})

log_coefs.sort_values('abs_coef', inplace=True, ascending=False)

log_coefs

    abs_coef      coef                                           variable
16  5.791329  5.791329                                 experience_Manager
5   4.250050  4.250050                                 location_Singapore
18  3.581366  3.581366                        experience_Senior_Executive
4   3.573193 -3.573193                               location_Philippines
19  3.564118  3.564118                                   experience_Staff
14  1.852686  1.852686                        experience_Junior_Executive
17  1.834505  1.834505                           experience_Non_Executive
2   1.543949  1.543949                           job_title_Data Scientist
11  1.221414 -1.221414                        industry_Retail/Merchandise
10  0.911501  0.911501                                       industry_R&D
9   0.500523  0.500523     industry_Human Resources Management/Consulting
1   0.338050 -0.338050                             job_title_Data Analyst
12  0.325508 -0.325508                         industry_Telecommunication
6   0.140633 -0.140633       industry_Call Center/IT-Enabled Services/BPO
0   0.049081 -0.049081                                       company_size
21  0.022819 -0.022819                                             skills
15  0.000000  0.000000                        experience_Less_than_1_year
13  0.000000  0.000000                    experience_Experienced_Employee
8   0.000000  0.000000         industry_Construction/Building/Engineering
7   0.000000  0.000000  industry_Computer/Information Technology (Soft...
3   0.000000  0.000000                                  location_Malaysia
20  0.000000  0.000000                              experience_Supervisor

In [155]:
salary_factors = []
for i,j in zip(log_coefs['abs_coef'],log_coefs['variable']):
    if i>0:
        salary_factors.append(j)

In [156]:
# List of factors that impact salary in order of decreasing impact
salary_factors

['experience_Manager',
 'location_Singapore',
 'experience_Senior_Executive',
 'location_Philippines',
 'experience_Staff',
 'experience_Junior_Executive',
 'experience_Non_Executive',
 'job_title_Data Scientist',
 'industry_Retail/Merchandise',
 'industry_R&D',
 'industry_Human Resources Management/Consulting',
 'job_title_Data Analyst',
 'industry_Telecommunication',
 'industry_Call Center/IT-Enabled Services/BPO',
 'company_size',
 'skills']

In [132]:
from sklearn.metrics import classification_report
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.96      0.89      0.92       140
          1       0.79      0.92      0.85        66

avg / total       0.91      0.90      0.90       206

In [157]:
# RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, random_state=12)
forest.fit(X_sm, y_sm)
y_pred = log.predict(X_test)
print 'score:', log.score(X_sm, y_sm)
print 'score:', log.score(X_test, y_test)

score: 0.915902140673
score: 0.898058252427

In [164]:
forest_features = pd.DataFrame({'variable':X_train.columns, 'coef':forest.feature_importances_})

forest_features.sort_values('coef', inplace=True, ascending=False)

forest_features

        coef                                           variable
5   0.228616                                 location_Singapore
21  0.197585                                             skills
18  0.097746                        experience_Senior_Executive
0   0.094635                                       company_size
4   0.089845                               location_Philippines
9   0.079776     industry_Human Resources Management/Consulting
13  0.048663                    experience_Experienced_Employee
16  0.034800                                 experience_Manager
1   0.029703                             job_title_Data Analyst
14  0.028146                        experience_Junior_Executive
3   0.023982                                  location_Malaysia
6   0.013335       industry_Call Center/IT-Enabled Services/BPO
7   0.009740  industry_Computer/Information Technology (Soft...
15  0.005490                        experience_Less_than_1_year
19  0.004200                                   experience_Staff
17  0.003764                           experience_Non_Executive
2   0.003216                           job_title_Data Scientist
11  0.002458                        industry_Retail/Merchandise
12  0.001705                         industry_Telecommunication
20  0.001534                              experience_Supervisor
10  0.001062                                       industry_R&D
8   0.000000         industry_Construction/Building/Engineering

In [165]:
salary_factors = []
for i,j in zip(forest_features['coef'],forest_features['variable']):
    if i>0:
        salary_factors.append(j)

In [166]:
# List of factors that impact salary in order of decreasing impact
salary_factors

['location_Singapore',
 'skills',
 'experience_Senior_Executive',
 'company_size',
 'location_Philippines',
 'industry_Human Resources Management/Consulting',
 'experience_Experienced_Employee',
 'experience_Manager',
 'job_title_Data Analyst',
 'experience_Junior_Executive',
 'location_Malaysia',
 'industry_Call Center/IT-Enabled Services/BPO',
 'industry_Computer/Information Technology (Software)',
 'experience_Less_than_1_year',
 'experience_Staff',
 'experience_Non_Executive',
 'job_title_Data Scientist',
 'industry_Retail/Merchandise',
 'industry_Telecommunication',
 'experience_Supervisor',
 'industry_R&D']

In [158]:
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.96      0.89      0.92       140
          1       0.79      0.92      0.85        66

avg / total       0.91      0.90      0.90       206

**Summary:**
> Looking at the coefficients of the features from the LogisticRegression and RandomForest, the top 5 common features that impact salary are 'location_Singapore', 'experience_Senior_Executive', 'location_Philippines', 'experience_Junior_Executive' and 'industry_Human Resources Management/Consulting'

> Both LogisticRegressionCV snd RandomForest models fit the data well and give a high prediction accuracy of 89.8%.

### Qn2

In [ ]:
# Factors that distinguish job category

In [ ]:
# Qn: What are the factors that distinguish business analysts from other data positions

In [ ]:
# Filtering variables

In [168]:
target = 'job_title'
predictors = [i for i in jobst3.columns if i != target]

In [169]:
predictors

['location', 'salary', 'industry', 'experience', 'company_size', 'skills']

In [170]:
#numerical predictors
num_predictors = ['skills']
cat_predictors = [i for i in predictors if i != 'skills']

In [171]:
#Filtering numerical variables
from sklearn.feature_selection import f_classif, chi2

num_sig = []
f,p = f_classif(jobst3[['skills']], jobst3[target])
if p <= 0.05:
    num_sig.append(i)
print num_sig

['skills']

In [172]:
# The numerical feature 'skills' is significantly related to the target variable salary

In [173]:
cat_predictors

['location', 'salary', 'industry', 'experience', 'company_size']

In [174]:
# Get dataframe of categorical variables
jobst3_cat = jobst3.loc[:,cat_predictors]

In [175]:
jobst3_cat.head(2)

,location,salary,industry,experience,company_size
Index,,,,,
0,Singapore,1,Human Resources Management/Consulting,Junior_Executive,1
1,Singapore,0,Human Resources Management/Consulting,Junior_Executive,0

In [177]:
# Filtering the categorical variables
jobst3_cat = pd.get_dummies(jobst3_cat, drop_first=True)

In [178]:
#Convert the columns to type 'int64'
for i in jobst3_cat.columns:
    jobst3_cat[i] = jobst3_cat[i].astype('int64')

In [179]:
cat_sig = []
for i in jobst3_cat.columns:
    y = np.array(jobst3[target])
    ch, p = chi2(jobst3_cat[[i]],y)
    if p<=0.05:
        cat_sig.append(i)
print cat_sig

['salary', 'company_size', 'location_Malaysia', 'location_Philippines', 'location_Singapore', 'industry_BioTechnology/Pharmaceutical/Clinical research', 'industry_Call Center/IT-Enabled Services/BPO', 'industry_Chemical/Fertilizers/Pesticides', 'industry_Construction/Building/Engineering', 'industry_Education', 'industry_Electrical & Electronics', 'industry_R&D', 'industry_Science & Technology', 'experience_Less_than_1_year', 'experience_Non_Executive', 'experience_Senior_Executive']

In [180]:
#Building the filtered dataframe containing the significant variables
cat_sig_df = jobst3_cat.loc[:, cat_sig]
num_sig_df = jobst3.loc[:, num_sig]
jobst_sig = cat_sig_df.merge(num_sig_df, left_index=True, right_index=True, how='outer')
jobst_sig['job_title'] = jobst3['job_title']

In [181]:
jobst_sig.head(2)

,salary,company_size,location_Malaysia,location_Philippines,location_Singapore,industry_BioTechnology/Pharmaceutical/Clinical research,industry_Call Center/IT-Enabled Services/BPO,industry_Chemical/Fertilizers/Pesticides,industry_Construction/Building/Engineering,industry_Education,industry_Electrical & Electronics,industry_R&D,industry_Science & Technology,experience_Less_than_1_year,experience_Non_Executive,experience_Senior_Executive,skills,job_title
Index,,,,,,,,,,,,,,,,,,
0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,17.0,Data Analyst
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,6.0,Data Analyst

### Train-test split plus Modeling

In [182]:
# Looking at the distribution of target variable
dist = jobst_sig['job_title'].value_counts()
dist

Business Analyst    374
Data Analyst        274
Data Engineer        20
Data Scientist       17
Name: job_title, dtype: int64

In [184]:
# Encode job_titles such that Business Analyst is 1 while other Data positions are 0
jobst_sig['job_title'] = jobst_sig['job_title'].apply(lambda x: 1 if x=='Business Analyst' else 0)

In [185]:
dist = jobst_sig['job_title'].value_counts()
dist

1    374
0    311
Name: job_title, dtype: int64

In [187]:
# Baseline accuracy
ratio_0 = float(dist[0])/(dist[0] + dist[1])
ratio_1 = float(dist[1])/(dist[0] + dist[1])
print 'class 0 ratio', ratio_0
print 'class 1 ratio', ratio_1
print 'Baseline accuracy', ratio_1

class 0 ratio 0.45401459854
class 1 ratio 0.54598540146
Baseline accuracy 0.54598540146

In [188]:
from sklearn.model_selection import train_test_split

X = jobst_sig.loc[:, [i for i in jobst_sig.columns if i != 'job_title']]
y = jobst_sig.loc[:,'job_title']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, stratify=y, random_state=12)

In [189]:
#count of each class in y_train
num_zeros = (y_train == 0).sum()
num_ones = (y_train == 1).sum()
print num_zeros
print num_ones

217
262

In [190]:
# Modeling

In [191]:
# Fit first model with LogisticRegressionCV, second model with RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier

log = LogisticRegressionCV(penalty='l1', solver='liblinear', cv=3, n_jobs=-1)
log.fit(X_train, y_train)
y_pred = log.predict(X_test)
print 'score:', log.score(X_train, y_train)
print 'score:', log.score(X_test, y_test)

score: 0.620041753653
score: 0.660194174757

In [192]:
log_coefs = pd.DataFrame({'variable':X_train.columns, 'coef':log.coef_[0],'abs_coef':np.abs(log.coef_[0])})

log_coefs.sort_values('abs_coef', inplace=True, ascending=False)

log_coefs

    abs_coef      coef                                           variable
11  9.416647 -9.416647                                       industry_R&D
12  7.741561 -7.741561                      industry_Science & Technology
8   6.390123  6.390123         industry_Construction/Building/Engineering
9   2.091599 -2.091599                                 industry_Education
13  1.543236 -1.543236                        experience_Less_than_1_year
14  1.506270 -1.506270                           experience_Non_Executive
10  0.790458 -0.790458                  industry_Electrical & Electronics
2   0.680804  0.680804                                  location_Malaysia
0   0.432542  0.432542                                             salary
4   0.421455  0.421455                                 location_Singapore
5   0.249041  0.249041  industry_BioTechnology/Pharmaceutical/Clinical...
3   0.235909  0.235909                               location_Philippines
15  0.158060 -0.158060                        experience_Senior_Executive
6   0.121385 -0.121385       industry_Call Center/IT-Enabled Services/BPO
16  0.034941 -0.034941                                             skills
1   0.007839  0.007839                                       company_size
7   0.000000  0.000000           industry_Chemical/Fertilizers/Pesticides

In [193]:
cat_factors = []
for i,j in zip(log_coefs['abs_coef'],log_coefs['variable']):
    if i>0:
        cat_factors.append(j)

In [194]:
# List of factors that distinguish job category in order of decreasing impact
cat_factors

['industry_R&D',
 'industry_Science & Technology',
 'industry_Construction/Building/Engineering',
 'industry_Education',
 'experience_Less_than_1_year',
 'experience_Non_Executive',
 'industry_Electrical & Electronics',
 'location_Malaysia',
 'salary',
 'location_Singapore',
 'industry_BioTechnology/Pharmaceutical/Clinical research',
 'location_Philippines',
 'experience_Senior_Executive',
 'industry_Call Center/IT-Enabled Services/BPO',
 'skills',
 'company_size']

In [196]:
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.83      0.32      0.46        94
          1       0.62      0.95      0.75       112

avg / total       0.72      0.66      0.62       206

In [197]:
# RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, random_state=12)
forest.fit(X_train, y_train)
y_pred = log.predict(X_test)
print 'score:', log.score(X_train, y_train)
print 'score:', log.score(X_test, y_test)

score: 0.620041753653
score: 0.660194174757

In [198]:
forest_features = pd.DataFrame({'variable':X_train.columns, 'coef':forest.feature_importances_})

forest_features.sort_values('coef', inplace=True, ascending=False)

forest_features

        coef                                           variable
16  0.362913                                             skills
1   0.273443                                       company_size
13  0.066793                        experience_Less_than_1_year
15  0.055466                        experience_Senior_Executive
0   0.043256                                             salary
3   0.030964                               location_Philippines
11  0.028952                                       industry_R&D
6   0.028212       industry_Call Center/IT-Enabled Services/BPO
2   0.025481                                  location_Malaysia
14  0.023106                           experience_Non_Executive
4   0.019772                                 location_Singapore
9   0.018444                                 industry_Education
10  0.013040                  industry_Electrical & Electronics
12  0.003683                      industry_Science & Technology
5   0.003673  industry_BioTechnology/Pharmaceutical/Clinical...
8   0.002803         industry_Construction/Building/Engineering
7   0.000000           industry_Chemical/Fertilizers/Pesticides

In [199]:
# List of factors that distinguish job category in order of decreasing impact
cat_factors = []
for i,j in zip(forest_features['coef'],forest_features['variable']):
    if i>0:
        cat_factors.append(j)

In [200]:
cat_factors

['skills',
 'company_size',
 'experience_Less_than_1_year',
 'experience_Senior_Executive',
 'salary',
 'location_Philippines',
 'industry_R&D',
 'industry_Call Center/IT-Enabled Services/BPO',
 'location_Malaysia',
 'experience_Non_Executive',
 'location_Singapore',
 'industry_Education',
 'industry_Electrical & Electronics',
 'industry_Science & Technology',
 'industry_BioTechnology/Pharmaceutical/Clinical research',
 'industry_Construction/Building/Engineering']

In [201]:
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.83      0.32      0.46        94
          1       0.62      0.95      0.75       112

avg / total       0.72      0.66      0.62       206

**Summary:**
> Both LogisticRegressionCV and RandomForest do not fit the data well--> perhaps due to little distinction between the Business Analyst roles vs other Data roles