In [434]:
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import pandas as pd
import numpy as np

In [435]:
ls chromedriver/

chromedriver*

In [436]:
chrome_path = './chromedriver/chromedriver'
driver = webdriver.Chrome(chrome_path)
driver.get('https://www.jobstreet.co.id/')

In [11]:
driver.get('https://www.jobstreet.com.sg/en/job-search/job-vacancy.php?ojs=2&key=data+analyst')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})
time.sleep(2)

In [12]:
def jjobs(info):
    jobs = []
    companies = []
    locations = []
    linkss = []

    for inf in info:
        job = inf.findAll('h2', {'itemprop':'title'})
        for j in job:
            jobs.append(j.text)
        company = inf.findAll('span', {'itemprop':'name'})
        for com in company:
            companies.append(com.text)
        location = inf.findAll('span', {'itemprop':'jobLocation'})
        for loc in location:
            locations.append(loc.text)
        links = inf.findAll('a', {'class', 'position-title-link'})
        for link in links:
            linkss.append(link.get('href'))
    return jobs, companies, locations, linkss

In [13]:
def get_info(linkss):
        salaries = []
        industries = []
        experiences = []
        company_sizes =[]
        descriptions = []
        for link in linkss:
            driver.get(link)
            source = driver.page_source
            soup = BeautifulSoup(source, "html.parser")
            try:
                sal = soup.findAll('span', {'id':'salary_range'})[0].text.strip()
                salaries.append(sal)
            except:
                salaries.append(np.nan)
            try:
                ind = soup.findAll('p', {'id':'company_industry'})[0].text
                industries.append(ind)
            except:
                industries.append(np.nan)
            try:
                exp = soup.findAll('span', {'itemprop':'experienceRequirements'})[0].text.strip()
                experiences.append(exp)
            except:
                experiences.append(np.nan)
            try:
                com = soup.findAll('p', {'id':'company_size'})[0].text.strip()
                company_sizes.append(com)
            except:
                company_sizes.append(com)
            try:
                des = soup.findAll('div', attrs = {'id':'job_description'})[0].text
                descriptions.append(des)
            except:
                descriptions.append(np.nan)
            time.sleep(4)
        return salaries, industries, experiences, company_sizes, descriptions

In [14]:
def dataframe(jobs, companies, locations, salaries, industries, experiences, company_sizes, descriptions):
    df = pd.DataFrame()
    df['job_title'] = jobs
    df['company'] = companies
    df['location'] = locations
    df['salary'] = salaries
    df['industry'] = industries
    df['experience'] = experiences
    df['company_size'] = company_sizes
    df['job_description'] = descriptions
    return df

In [223]:
concat7.set_index('Index', inplace=True)

In [225]:
concat7.head(2)

,job_title,company,location,salary,industry,experience,company_size,job_description
Index,,,,,,,,
0,Data Analyst (Python / SAS / SQL)(BANK / $3.5K...,Achieve Career Consultant Pte Ltd,Singapore,"SGD 3,500 - SGD 5,000",Human Resources Management/Consulting,Min 2 years (Junior Executive),51 - 200 Employees,"S$3,500 to S$5,000 or Higher!Good Career Prog..."
1,Data Quality Analyst - Private Banking,CHANDLER MACLEOD GROUP PTE LTD,Central,"SGD 2,400 - SGD 2,600",Human Resources Management/Consulting,Min 1 year (Junior Executive),1 - 50 Employees,"Immediate - Jun 2018CBD, $2600 MonthlyPaid An..."

In [226]:
sg_jobst = concat7.to_csv('sg_jobst', columns = concat7.columns, index= list(concat7.index), encoding='utf8')

DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal='.')[source]

In [ ]:
# Moving on to Malaysia

In [290]:
concat2 = pd.concat([concat2,pg12])

In [291]:
concat2.shape

(233, 8)

In [292]:
concat2['Index'] = np.arange(concat2.shape[0])

In [294]:
concat2.set_index('Index', inplace=True)

In [298]:
concat2.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            223, 224, 225, 226, 227, 228, 229, 230, 231, 232],
           dtype='int64', name=u'Index', length=233)

In [300]:
mal_jobst = concat2.to_csv('mal_jobst', columns= concat2.columns, index=list(concat2.index), encoding='utf8')

In [ ]:
#Philippines

In [430]:
concat3.head()

,job_title,company,location,salary,industry,experience,company_size,job_description
Index,,,,,,,,
0,Data Analyst (Energy),S&P Global,National Capital Reg,"PHP 25,000 - PHP 30,000",Banking/Financial Services,Less than 1 year experience,501 - 1000 Employees,The Role: As an Analyst for Energy Content O...
1,Sports / Data Analyst,Chromelab Technologies Inc.,Makati City (National Capital Reg) - 25 / F T...,"PHP 15,000 - PHP 19,500",Call Center/IT-Enabled Services/BPO,Min 1 year (1-4 Yrs Experienced Employee),501 - 1000 Employees,\n\nResponsibilities:\n\nResearch and compile...
2,Data Analyst,Arch Global Services Inc.,Quezon City (National Capital Reg) - Quezon A...,NaN,Call Center/IT-Enabled Services/BPO,Min 2 years (1-4 Yrs Experienced Employee),1001 - 2000 Employees,\nCandidate must possess at least Bachelor's/...
3,Accenture is hiring for Data Encoders | Analyst,Accenture,National Capital Reg,Below expected salary,Call Center/IT-Enabled Services/BPO,Less than 1 year experience,More than 5000 Employees,Responsibilities• Responsible for end to end ...
4,Data Analyst (MOA) | 5816,MicroSourcing,National Capital Reg - Pasay,Below expected salary,Call Center/IT-Enabled Services/BPO,Min 1 year (1-4 Yrs Experienced Employee),2001 - 5000 Employees,We are looking for Data Analyst who will work...

In [432]:
phil_jobst = concat3.to_csv('phil_jobst', columns= concat3.columns, index=list(concat3.index), encoding='utf-8')

In [ ]:
# Indonesia

In [437]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?ojs=2&key=data+analyst')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [438]:
a,b,c,d = jjobs(info)

In [439]:
e,f,g,h,i = get_info(d)

In [440]:
pg1 = dataframe(a,b,c,e,f,g,h,i)

In [442]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=data+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=2&src=16&ojs=2')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [443]:
a,b,c,d = jjobs(info)

In [444]:
e,f,g,h,i = get_info(d)

In [445]:
pg2 = dataframe(a,b,c,e,f,g,h,i)

In [446]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=data+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=3&src=16&srcr=16&ojs=2')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [447]:
a,b,c,d = jjobs(info)

In [448]:
e,f,g,h,i = get_info(d)

In [449]:
pg3 = dataframe(a,b,c,e,f,g,h,i)

In [450]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=data+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=4&src=16&srcr=16&ojs=2')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [451]:
a,b,c,d = jjobs(info)

In [452]:
e,f,g,h,i = get_info(d)

In [453]:
pg4 = dataframe(a,b,c,e,f,g,h,i)

In [454]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=data+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=5&src=16&srcr=16&ojs=2')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [455]:
a,b,c,d = jjobs(info)

In [456]:
e,f,g,h,i = get_info(d)

In [457]:
pg5 = dataframe(a,b,c,e,f,g,h,i)

In [458]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?ojs=10&key=data+scientist')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [459]:
a,b,c,d = jjobs(info)

In [460]:
e,f,g,h,i = get_info(d)

In [461]:
pg6 = dataframe(a,b,c,e,f,g,h,i)

In [462]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?ojs=10&key=data+engineer')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [463]:
a,b,c,d = jjobs(info)

In [464]:
e,f,g,h,i = get_info(d)

In [465]:
pg7 = dataframe(a,b,c,e,f,g,h,i)

In [466]:
concat1 = pd.concat([pg1,pg2,pg3,pg4,pg5,pg6,pg7])

In [492]:
concat1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 0 to 19
Data columns (total 8 columns):
job_title          133 non-null object
company            133 non-null object
location           133 non-null object
salary             50 non-null object
industry           133 non-null object
experience         133 non-null object
company_size       133 non-null object
job_description    133 non-null object
dtypes: object(8)
memory usage: 9.4+ KB

In [469]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=business+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=1&src=16&srcr=16&ojs=10&ojs=10')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [470]:
a,b,c,d = jjobs(info)

In [471]:
e,f,g,h,i = get_info(d)

In [472]:
pg8 = dataframe(a,b,c,e,f,g,h,i)

In [473]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=business+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=2&src=16&srcr=16&ojs=10')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [474]:
a,b,c,d = jjobs(info)

In [475]:
e,f,g,h,i = get_info(d)

In [476]:
pg9 = dataframe(a,b,c,e,f,g,h,i)

In [477]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=business+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=3&src=16&srcr=16&ojs=10')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [478]:
a,b,c,d = jjobs(info)

In [479]:
e,f,g,h,i = get_info(d)

In [480]:
pg10 = dataframe(a,b,c,e,f,g,h,i)

In [481]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=business+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=4&src=16&srcr=16&ojs=10')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [482]:
a,b,c,d = jjobs(info)

In [483]:
e,f,g,h,i = get_info(d)

In [484]:
pg11 = dataframe(a,b,c,e,f,g,h,i)

In [485]:
driver.get('https://www.jobstreet.co.id/en/job-search/job-vacancy.php?key=business+analyst&area=1&option=1&job-source=1%2C64&classified=1&job-posted=0&sort=2&order=0&pg=5&src=16&srcr=16&ojs=10')
source = driver.page_source
soup = BeautifulSoup(source, "html.parser")
info = soup.findAll('div', {'class':'panel-body'})

In [486]:
a,b,c,d = jjobs(info)

In [487]:
e,f,g,h,i = get_info(d)

In [488]:
pg12 = dataframe(a,b,c,e,f,g,h,i)

In [489]:
concat2 = pd.concat([concat1,pg8,pg9,pg10,pg11,pg12])

In [491]:
concat2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 19
Data columns (total 8 columns):
job_title          233 non-null object
company            233 non-null object
location           233 non-null object
salary             86 non-null object
industry           228 non-null object
experience         229 non-null object
company_size       233 non-null object
job_description    229 non-null object
dtypes: object(8)
memory usage: 16.4+ KB

In [493]:
concat2['Index'] = np.arange(concat2.shape[0])

In [494]:
concat2.set_index('Index', inplace=True)

In [495]:
concat2.head(2)

,job_title,company,location,salary,industry,experience,company_size,job_description
Index,,,,,,,,
0,Data Analyst (Jakarta),MASPION,Jakarta Pusat (Jakarta Raya) - Gunung Sahari,Below expected salary,Manufacturing/Production,Min 3 years (Staff (non-management & non-super...,More than 5000 Employees,"\nResponsibilities:\n\nInterpreting data, ana..."
1,Data Analyst [Marketing] Staff,PT Mandom Indonesia Tbk,Bekasi (Jawa Barat) - Cibitung,NaN,Consumer Products/FMCG,Min 2 years (Staff (non-management & non-super...,2001 - 5000 Employees,"\nJob Scopes :\n\nTo collect, perform, and pr..."

In [496]:
ind_jobst = concat2.to_csv('ind_jobst', columns=concat2.columns, index=list(concat2.index), encoding='utf8')