In [2]:
import pandas as pd

In [3]:
xx = pd.read_csv('./sg_jobst')
xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 9 columns):
Index              732 non-null int64
job_title          732 non-null object
company            732 non-null object
location           732 non-null object
salary             410 non-null object
industry           727 non-null object
experience         732 non-null object
company_size       732 non-null object
job_description    732 non-null object
dtypes: int64(1), object(8)
memory usage: 51.5+ KB

In [11]:
xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 9 columns):
Index              732 non-null int64
job_title          732 non-null object
company            732 non-null object
location           732 non-null object
salary             410 non-null object
industry           727 non-null object
experience         732 non-null object
company_size       732 non-null object
job_description    732 non-null object
dtypes: int64(1), object(8)
memory usage: 51.5+ KB

In [5]:
yy = pd.read_csv('./mal_jobst')
yy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 9 columns):
Index              233 non-null int64
job_title          233 non-null object
company            233 non-null object
location           233 non-null object
salary             135 non-null object
industry           222 non-null object
experience         227 non-null object
company_size       233 non-null object
job_description    233 non-null object
dtypes: int64(1), object(8)
memory usage: 16.5+ KB

In [10]:
yy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 9 columns):
Index              233 non-null int64
job_title          233 non-null object
company            233 non-null object
location           233 non-null object
salary             135 non-null object
industry           222 non-null object
experience         227 non-null object
company_size       233 non-null object
job_description    233 non-null object
dtypes: int64(1), object(8)
memory usage: 16.5+ KB

In [7]:
zz = pd.read_csv('./phil_jobst')

In [9]:
zz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 9 columns):
Index              403 non-null int64
job_title          403 non-null object
company            403 non-null object
location           403 non-null object
salary             299 non-null object
industry           395 non-null object
experience         402 non-null object
company_size       403 non-null object
job_description    402 non-null object
dtypes: int64(1), object(8)
memory usage: 28.4+ KB

In [ ]:
company_size, experience, industry

In [12]:
aa = pd.read_csv('./ind_jobst')

In [13]:
aa.head()

,Index,job_title,company,location,salary,industry,experience,company_size,job_description
0,0,Data Analyst (Jakarta),MASPION,Jakarta Pusat (Jakarta Raya) - Gunung Sahari,Below expected salary,Manufacturing/Production,Min 3 years (Staff (non-management & non-super...,More than 5000 Employees,"\nResponsibilities:\n\nInterpreting data, ana..."
1,1,Data Analyst [Marketing] Staff,PT Mandom Indonesia Tbk,Bekasi (Jawa Barat) - Cibitung,NaN,Consumer Products/FMCG,Min 2 years (Staff (non-management & non-super...,2001 - 5000 Employees,"\nJob Scopes :\n\nTo collect, perform, and pr..."
2,2,DATA ANALYST,PT Arta Boga Cemerlang,Jakarta Barat (Jakarta Raya) - CENGKARENG,Below expected salary,Consumer Products/FMCG,Less than 1 year experience,More than 5000 Employees,REQUIREMENTS:\nÂ \n\nAge maximum 27 years old\...
3,3,Senior Data Analyst,PT Daya Maha Berkarya ( IRIS WORLDWIDE),Jakarta Raya,NaN,Advertising/Marketing/Promotion/PR,Min 5 years (Staff (non-management & non-super...,501 - 1000 Employees,Responsible for working with clients of the c...
4,4,Data Analyst,Mainspring Technology,Jakarta Selatan (Jakarta Raya) - Gandaria,NaN,Entertainment/Media,Min 1 year (Staff (non-management & non-superv...,51 - 200 Employees,Responsibilities:\n\nDoing Data Selection & P...